ul.unstyled ul.unstyled {
    list-style: none;
}

a:hover, a .icon-arrow-left:hover {
	color: #FFAD00;
	text-decoration: none;
}

.monthSummaryContent {
    background-color: #E5F4FF;
}

.ink-form input.taskInput {
    border: 0 none;
}

.taskInputControl .deleteTask {
    display: none;
}

.taskInputControl:hover .deleteTask {
    display: inline;
}

.deleteTask:hover {
    cursor: pointer;
}

i.notReady {
    opacity: 0.3;
}

i.notReady:hover {
    cursor: wait;
}

/* Forms */
form input.ng-invalid.ng-dirty {
    background-color: #FFB2B2;
}

form .tip.error {
    color: #FF4A4A;
}